@model IQueryable<Person>

@{
    ViewBag.Title = "Grid partial customization";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Preview</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid("_NestedPersonGrid", Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name);
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .Pageable(pager =>
            {
                pager.PartialViewName = "_ExtendedPager";
                pager.RowsPerPage = 3;
            })
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(<span class="str">"_NestedPersonGrid"</span>, Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Pageable(pager =>
    {
        pager.PartialViewName = <span class="str">"_ExtendedPager"</span>;
        pager.RowsPerPage = 3;
    })
)
</code>
</pre>
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>_NestedPersonGrid partial view</span>
        </div>
        <div class="widget-content">
<pre>
<code>
@@model IGrid&lt;Person&gt;

&lt;div class="mvc-grid"&gt;
    &lt;table&gt;
        &lt;thead&gt;
            &lt;tr class="mvc-grid-headers"&gt;
                @@foreach (IGridColumn column in Model.Columns)
                {
                    &lt;th@@(column.AsAttributes())&gt;
                        &lt;span class="mvc-grid-title"&gt;@@column.Title&lt;/span&gt;
                    &lt;/th&gt;
                }
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            @@if (Model.Rows.Any())
            {
                foreach (IGridRow&lt;Person&gt; row in Model.Rows)
                {
                    &lt;tr class="@@row.CssClasses"&gt;
                        @@foreach (IGridColumn column in Model.Columns)
                        {
                            &lt;td class="@@column.CssClasses"&gt;@@column.ValueFor(row)&lt;/td&gt;
                        }
                    &lt;/tr&gt;

                    if (row.Model.Children.Any())
                    {
                        &lt;tr&gt;
                            &lt;td colspan="@@Model.Columns.Count()">
                                @@(Html
                                    .Grid("_NestedPersonGrid", row.Model.Children)
                                    .Build(columns =>
                                    {
                                        columns.Add(model => model.Name).Titled("Child name");
                                        columns.Add(model => model.Age).Titled("Age");
                                        columns.Add(model => model.Birthday).Titled("Birthday").Formatted("{0:d}");
                                    })
                                )
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    }
                }
            }
            else
            {
                &lt;tr class="mvc-grid-empty-row"&gt;
                    &lt;td colspan="@@Model.Columns.Count()"&gt;
                        @@Model.EmptyText
                    &lt;/td&gt;
                &lt;/tr&gt;
            }
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>_ExtendedPager partial view</span>
        </div>
        <div class="widget-content">
<pre>
<code>
@@using NonFactors.Mvc.Grid;
@@model IGridPager
@@{
    Int32 totalPages = Model.TotalPages;
    Int32 currentPage = Model.CurrentPage;
    Int32 firstDisplayPage = Model.FirstDisplayPage;
}

&lt;div class="mvc-grid-pager mvc-grid-extended-pager @@Model.CssClasses" data-show-page-sizes="@@Model.ShowPageSizes"&gt;
    @@if (totalPages &gt; 0)
    {
        &lt;div class="mvc-grid-pager-extension"&gt;Showing @@((currentPage - 1) * Model.RowsPerPage + 1)-@@(Math.Min(currentPage * Model.RowsPerPage, Model.TotalRows)) out of @@Model.TotalRows&lt;/div&gt;

        &lt;div&gt;
            @@if (currentPage &gt; 1)
            {
                &lt;button type="button" data-page="1"&gt;&#171;&lt;/button&gt;
                &lt;button type="button" data-page="@@(currentPage - 1)"&gt;&#8249;&lt;/button&gt;
            }
            else
            {
                &lt;button type="button" class="disabled" tabindex="-1"&gt;&#171;&lt;/button&gt;
                &lt;button type="button" class="disabled" tabindex="-1"&gt;&#8249;&lt;/button&gt;
            }
            @@for (Int32 page = firstDisplayPage; page &lt;= totalPages && page &lt; firstDisplayPage + Model.PagesToDisplay; page++)
            {
                if (page == currentPage)
                {
                    &lt;button type="button" class="active" data-page="@@(page)"&gt;@@(page)&lt;/button&gt;
                }
                else
                {
                    &lt;button type="button" data-page="@@(page)"&gt;@@(page)&lt;/button&gt;
                }
            }
            @@if (currentPage &lt; totalPages)
            {
                &lt;button type="button" data-page="@@(currentPage + 1)"&gt;&#8250;&lt;/button&gt;
                &lt;button type="button" data-page="@@totalPages"&gt;&#187;&lt;/button&gt;
            }
            else
            {
                &lt;button type="button" class="disabled" tabindex="-1"&gt;&#8250;&lt;/button&gt;
                &lt;button type="button" class="disabled" tabindex="-1"&gt;&#187;&lt;/button&gt;
            }

            &lt;input class="mvc-grid-pager-rows" type="hidden" value="@@Model.RowsPerPage" /&gt;
        &lt;/div&gt;
    }
    else
    {
        &lt;input class="mvc-grid-pager-rows" type="hidden" value="@@Model.RowsPerPage" /&gt;
    }
&lt;/div&gt;
</code>
</pre>
        </div>
    </div>
</div>
