@model IQueryable<Person>

@{
    ViewBag.Title = "Grid user preferences";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Preview</span>
        <div class="widget-buttons">
            <span id="GridConfigure" class="fa fa-cog"></span>
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Hidden();
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .Empty("No data found")
            .Pageable(pager =>
            {
                pager.RowsPerPage = 4;
            })
            .Filterable()
            .Sortable()
        )
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>MVC view</span>
            </div>
            <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).Hidden();
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Empty(<span class="str">"No data found"</span>)
    .Configure(...) <span class="com">// Load configuration from cookie/backend/etc.</span>
    .Filterable()
    .Sortable()
    .Pageable()
)
</code>
</pre>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>MVC controller</span>
            </div>
            <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ViewResult</span> Index()
{
    <span class="kwd">return</span> View(Context.Set&lt;<span class="cls">Person</span>&gt;());
}
</code>
</pre>
            </div>
        </div>
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Javascript</span>
            </div>
            <div class="widget-content">
<pre>
<code>
document.getElementById(<span class="str">"GridConfigure"</span>).addEventListener(<span class="str">"click"</span>, <span class="kwd">function</span> () {
    <span class="kwd">new</span> <span class="cls">MvcGrid</span>(document.querySelector(<span class="str">".mvc-grid"</span>)).showConfiguration(<span class="kwd">this</span>);
});

document.addEventListener(<span class="str">"gridconfigure"</span>, e => {
    <span class="kwd">const</span> configuration = e.detail.grid.getConfiguration();

    <span class="com">// Save configuration to a cookie/backend/etc.</span>
});
</code>
</pre>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        document.getElementById("GridConfigure").addEventListener("click", function () {
            new MvcGrid(document.querySelector(".mvc-grid")).showConfiguration(this);
        });
    </script>
}
