<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="grid,table,ajax,mvc,core" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grid controls for ASP.NET MVC projects.">
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <environment names="Development">
        <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="~/css/font-awesome/font-awesome.css" rel="stylesheet">
        <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
        <link href="~/css/shared/base.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" href="~/css/page/bundle.min.css" rel="stylesheet">
    </environment>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="sidebar col-lg-2">
            <div class="logo">
                <a href="https://github.com/NonFactors/MVC6.Grid">
                    <span class="fa fa-github">
                        <span class="version">v@(typeof(IGrid).Assembly.GetName().Version)</span>
                    </span>
                </a>
            </div>
            <input id="SearchInput" class="sidebar-search" placeholder="Search...">
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Quick start</a>
                </li>
                <li>
                    <a asp-action="Installation" asp-controller="Home">Installation</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="Ajax" asp-controller="Grid">Ajax grid</a>
                </li>
                <li>
                    <a asp-action="Filtering" asp-controller="Grid">Grid filtering</a>
                </li>
                <li>
                    <a asp-action="FilterModes" asp-controller="Grid">Grid filter modes</a>
                </li>
                <li>
                    <a asp-action="MultiFiltering" asp-controller="Grid">Grid multi filtering</a>
                </li>
                <li>
                    <a asp-action="GlobalSearch" asp-controller="Grid">Grid global search</a>
                </li>
                <li>
                    <a asp-action="Sorting" asp-controller="Grid">Grid sorting</a>
                </li>
                <li>
                    <a asp-action="Paging" asp-controller="Grid">Grid paging</a>
                </li>
                <li>
                    <a asp-action="ManualProcessing" asp-controller="Grid">Grid manual processing</a>
                </li>
                <li>
                    <a asp-action="Styling" asp-controller="Grid">Grid styling</a>
                </li>
                <li>
                    <a asp-action="HtmlAttributes" asp-controller="Grid">Grid html attributes</a>
                </li>
                <li>
                    <a asp-action="RowAttributes" asp-controller="Grid">Grid row attributes</a>
                </li>
                <li>
                    <a asp-action="RowProcessing" asp-controller="Grid">Grid row processing</a>
                </li>
                <li>
                    <a asp-action="EmptyText" asp-controller="Grid" asp-route-name-equals="Xena">Grid no data found text</a>
                </li>
                <li>
                    <a asp-action="Footer" asp-controller="Grid">Grid footer</a>
                </li>
                <li>
                    <a asp-action="Id" asp-controller="Grid">Grid id</a>
                </li>
                <li>
                    <a asp-action="Localization" asp-controller="Grid">Grid localization</a>
                </li>
                <li>
                    <a asp-action="Export" asp-controller="Grid">Grid data page export</a>
                </li>
                <li>
                    <a asp-action="Multiple" asp-controller="Grid">Multiple grids</a>
                </li>
                <li>
                    <a asp-action="DataTable" asp-controller="Grid">DataTable source</a>
                </li>
                <li>
                    <a asp-action="Partial" asp-controller="Grid">Grid custom partial</a>
                </li>
                <li>
                    <a asp-action="SourceUrl" asp-controller="Grid">Switching normal grid to ajax grid</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="Title" asp-controller="Column">Column header title</a>
                </li>
                <li>
                    <a asp-action="RenderingValue" asp-controller="Column">Column value rendering</a>
                </li>
                <li>
                    <a asp-action="Formatting" asp-controller="Column">Column value formatting</a>
                </li>
                <li>
                    <a asp-action="Encoding" asp-controller="Column">Column html encoding</a>
                </li>
                <li>
                    <a asp-action="FilterOptions" asp-controller="Column">Column filter options</a>
                </li>
                <li>
                    <a asp-action="Filtering" asp-controller="Column">Column value filtering</a>
                </li>
                <li>
                    <a asp-action="MultiFiltering" asp-controller="Column">Column multi value filtering</a>
                </li>
                <li>
                    <a asp-action="DefaultMethod" asp-controller="Column">Column default filter method</a>
                </li>
                <li>
                    <a asp-action="Sorting" asp-controller="Column">Column value sorting</a>
                </li>
                <li>
                    <a asp-action="InitialSort" asp-controller="Column">Column initial sort order</a>
                </li>
                <li>
                    <a asp-action="FirstSort" asp-controller="Column">Column first sort order</a>
                </li>
                <li>
                    <a asp-action="Styling" asp-controller="Column">Column styling</a>
                </li>
                <li>
                    <a asp-action="CustomFilter" asp-controller="Column">Column custom filter</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="PageSizes" asp-controller="Pager">Pager page sizes</a>
                </li>
                <li>
                    <a asp-action="CurrentPage" asp-controller="Pager">Pager initial page</a>
                </li>
                <li>
                    <a asp-action="RowsPerPage" asp-controller="Pager">Pager rows per page</a>
                </li>
                <li>
                    <a asp-action="PagesToDisplay" asp-controller="Pager">Pager pages to display</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="RequestType" asp-controller="Javascript">Reloading grid with post data</a>
                </li>
                <li>
                    <a asp-action="RowClicked" asp-controller="Javascript">Binding row clicked event</a>
                </li>
                <li>
                    <a asp-action="ReloadEvents" asp-controller="Javascript">Binding reload events</a>
                </li>
                <li>
                    <a asp-action="Reload" asp-controller="Javascript">Reloading ajax grid</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="Register" asp-controller="Filter">Filter registration</a>
                </li>
                <li>
                    <a asp-action="Unregister" asp-controller="Filter">Filter unregistration</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a asp-action="Api" asp-controller="Javascript">Grid javascript API</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-10">
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/js/mvc-grid/mvc-grid.js"></script>
        <script src="~/js/shared/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/js/page/bundle.min.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
